/* You can add global styles to this file, and also import other style files */


*{
    // background: linear-gradient(to bottom, #C33764, #1D2671);

    background-image: url(https://thumbs.dreamstime.com/b/smart-city-social-media-people-icons-communication-network-modern-background-171236825.jpg); 
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
}